Service References/LibraryReference/LibraryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Powell.MFGSVC.LibraryService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Powell.MFGSVC.LibraryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LibraryRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MATERIALCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARENTPART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VARIANTFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORKCENTERS" nillable="true" type="tns:ArrayOfWorkCenter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LibraryRequest" nillable="true" type="tns:LibraryRequest" />
  <xs:complexType name="ArrayOfWorkCenter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkCenter" nillable="true" type="tns:WorkCenter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkCenter" nillable="true" type="tns:ArrayOfWorkCenter" />
  <xs:complexType name="WorkCenter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkCenter" nillable="true" type="tns:WorkCenter" />
  <xs:complexType name="ArrayOfQueueRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueRecord" nillable="true" type="tns:QueueRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueRecord" nillable="true" type="tns:ArrayOfQueueRecord" />
  <xs:complexType name="QueueRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIONNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BASEPART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FINISH_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LIBRARYPATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIALCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORGCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORGID" type="xs:int" />
      <xs:element minOccurs="0" name="PARTNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRIORITY" type="xs:int" />
      <xs:element minOccurs="0" name="RESULT_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="START_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORKCENTER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueRecord" nillable="true" type="tns:QueueRecord" />
</xs:schema>